<!DOCTYPE html>
<html>
    {% load static %}
    <head> 
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'story3/style.css'%}">
    </head>

    <body>
         <div class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navv">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navv">
                <ul class="navbar-nav ml-auto">
                    {% with url_name=request.resolver_match.url_name %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item {% if url_name == 'interest' %}active{% endif %}">
                        <a class="nav-link" href="/interest/">Interest</a>
                    </li>

                    <li class="nav-item {% if url_name == 'aboutme' %}active{% endif %}">
                        <a class="nav-link" href="/aboutme/">About Me</a>
                    </li>

                    <li class="nav-item {% if url_name == 'gallery' %}active{% endif %}">
                        <a class="nav-link" href="/gallery/">Activity Gallery</a>
                    </li>

                    <li class="nav-item {% if url_name == 'credits' %}active{% endif %}">
                        <a class="nav-link" href="/credits/">Credits</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/story1/story1">Story 1</a>
                    </li>
                    {% endwith %}
                </ul>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="footer">
            <table>
                <tr>
                    <td colspan="3">Find me at:</td>
                </tr>
                <tr>
                    <td>
                        <div class="contact">
                            <a href="https://www.instagram.com/james_frederix/">
                                <img class="contact" src="{% static 'story3/icons/ig.jpg' %}"/>
                            </a>
                        </div>
                    </td>

                    <td>
                        <div class="contact">
                            <a href="https://www.twitter.com/james_frederix/">
                                <img class="contact" src="{% static 'story3/icons/twt.jpg' %}"/>
                            </a>
                        </div>
                    </td>

                    <td>
                        <div class="contact">
                            <a href="https://id.linkedin.com/in/james-frederix-rolianto-bb1100193">
                                <img class="contact" src="{% static 'story3/icons/linkedin.jpg' %}"/>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>
</html>