<!DOCTYPE html>
<html>
    {% extends 'story3/footer.html' %}
    {% load static %}
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'story3/style.css' %}"/>
        <title>Story 4 PPW</title>
    </head>

    <body>
        {% block content %}
        <div class="container profile">
            <div class="row">
                <div class="col prof-col">
                    <img src="{% static 'story3/icons/profile.jpg' %}" class="img-fluid prof-pic" alt="Responsive image"/>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="name">James Frederix Rolianto</div>
                    </div>

                    <div class="row">
                        <div class="identity">
                            1906398553<br>
                            2019 Computer Science<br>
                            University of Indonesia
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container bawah">
            <div class="row depan">
                    <a href="/interest/" class="col-sm" id="kiri">
                        <div class="bottom-right">Interest</div>
                    </a>

                    <a href="/aboutme/" class="col-sm" id="tengah">
                        <div class="bottom-right">About Me</div>
                    </a>
                    
                    <a href="/gallery/" class="col-sm" id="kanan">
                        <div class="bottom-right">Activity Gallery</div>
                    </a>
            </div>
        </div>

        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>